@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate-fade-in {
  opacity: 1;
  transform: translateY(0);
}

p,a {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}



button {
  font-family: "Poppins", sans-serif;
}
